ul{
    list-style: none; 
     color: black;
 }
 
 a{
     color: black;
     text-decoration: none;
 }

 main{
    width: 100%;
    margin-top: 5rem;
}

.wrapper{
    width: 75rem;
    /* background-color: antiquewhite; */
    display: flex;
    gap: 1rem;
}

.wrapper *{
    margin: 0;
}
.wrapper .myPageMain{
    width: 62rem;
    border-radius: var(--border-radius);
    padding: 1.5rem;
    box-shadow: 2px 2px 5px rgb(185, 185, 185);
}

.totalStatus{
    width: 100%;
    display: flex;
    gap: 1rem;
}

.wrapper aside{
    width: 13rem;
    border-radius: var(--border-radius);
    margin: 0;
    padding: 1.5rem;
    max-height: 30rem;
    box-shadow: 2px 2px 5px rgb(185, 185, 185);
    
}

/* 개인정보 수정 폼*/
.editForm{
    padding: 1rem;
    margin-top: 1rem;
}

.editForm h2{
    margin-bottom: 0.5rem;
}

.editBox{
    width: 100%;
    margin-top: 1.5rem;
}

.editBox div[class$=Form]{
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.editBox div[class$=Form] div:first-child {
    width: 10rem;
    font-size: 1.2rem;
    text-align: center;
    border-right: 0.2rem solid rgb(180, 180, 180);
    display: inline-block;
}

.editBox div[class$=Form] input{
    width: 15rem;
    height: 1.8rem;
    outline-color: black;
}

.editBox div[class$=Form] div:nth-child(2){
    width: 10rem;
    font-size: 1.1rem;
    display: inline-block;
}

.editBox div[class$=Form] :nth-child(2){
    margin-left: 1rem;
}

.errors{
    color: red;
    display: inline-block;
    font-size: 0.9rem;
    margin-left: 0.5rem;
}
.errors.message{
    font-size: 1.2rem;
}

.errorBox{
    text-align: center;
}

.errors svg{
    width: 1.2rem;
    fill: rgb(48, 180, 31);
}

.editButtonBox{
    margin-top: 3rem;
    text-align: center;
}

.editButton{
    border: none;
    font-size: 1.2rem;
    width: 7rem;
    height: 3rem;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    color: var(--main-font-color);
}

.editButton:hover{
    background-color: var(--main-color-hover);
}
