<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="july.lease.dao.member.MemberMapper">
	
	<select id="login" resultType="Member">
		select member_id, member_email, member_password, member_name, member_nickname,
				member_phone, member_create_date, member_delete_status, social_Login
		from member 
		where member_email=#{memberEmail}
	</select>
	
	<select id="selectOne" resultType="Member">
		select member_id, member_email, member_password, member_name, member_nickname,
				member_phone, member_create_date, member_delete_status, social_Login
		from member
		where member_id=#{memberId}
	</select>
	
	<insert id="insert">
		insert into member 
		values (seq_member_id.NEXTVAL, #{memberEmail}, #{memberPassword}, #{memberName}, #{memberNickname}, #{memberPhone}, sysdate, 'N', '')
	</insert>
	
	<insert id="ninsert">
		insert into member values (seq_member_id.NEXTVAL, #{memberEmail}, '', #{memberName}, #{memberNickname}, #{memberPhone}, sysdate, 'N', 'Naver')
	</insert>
	
	<select id="idCheck" resultType="int">
		select count(*) from member where member_email=#{memberEmail}
	</select>
	
	<select id="phoneCheck" resultType="int">
		select count(*) from member where member_phone=#{memberPhone}
	</select>
	
	<select id="findbyEmail" resultType="Member">
		select member_id, member_email, member_name, member_nickname, member_phone, social_login
		from member
		where member_name=#{memberName} and member_phone=#{memberPhone}
	</select>
	
	<update id="searchPw">
		update member set member_password=#{memberPassword} where member_email=#{memberEmail} and member_name=#{memberName} and member_phone=#{memberPhone}
	</update>
	
	<select id="searchPwCheck" resultType="Member">
		select member_email, member_name, member_phone from member where member_email=#{memberEmail} and member_name=#{memberName} and member_phone=#{memberPhone}
	</select>
	
	<select id="nickNameCheck" resultType="int">
		select count(*) from member where member_nickname=#{memberNickname}
	</select>
	
	<select id="findbyEmailCheck" resultType="Member">
		select member_name, member_phone from member where member_name=#{memberName} and member_phone=#{memberPhone}
	</select>
	<insert id="kinsert">
		insert into member values (seq_member_id.NEXTVAL, #{memberEmail}, '', #{memberName}, #{memberNickname}, #{memberPhone}, sysdate, 'N', 'Kakao')
	</insert>
	
	<select id="socialLogin" resultType="Member">
		select member_id, member_email, member_password, member_name, member_nickname,
				member_phone, member_create_date, member_delete_status, social_Login
		from member 
		where member_phone=#{memberPhone}
	</select>
	
	
</mapper>